@import './styles/tokens.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: var(--font-family-body);
  background-color: var(--surface-bg-default);
  color: var(--text-default);
}
